@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

html {
  scroll-behavior: smooth;
}

.spacer{
  flex: 1 1 auto;
}

.header{
  width: 100%;
  background: linear-gradient(-45deg, #0eada5, #024ef2);
  background-size: 400%;
  animation: animate 5s infinite alternate;
  transform: skewY(6deg);

  @apply h-[500px] md:h-[480px]
}

.button {
  @apply text-white hover:bg-gray-200 w-10 h-10 rounded-full hover:bg-opacity-40 text-sm
    duration-200
}

iframe {
  @apply w-[300px] h-[400px] md0:w-[550px] md0:h-[700px] md:w-[850px] md:h-[930px] rounded-lg
}

.nav-div {
  @apply flex flex-col items-center space-y-6 text-white md0:flex-row md0:items-start md0:space-y-0 md0:space-x-14 md:space-x-[105px]
}

.flag {
  @apply h-4 w-6 md:h-6 md:w-8 rounded-sm hover:cursor-pointer
}

.menu-item {
  @apply h-10 hover:scale-110 hover:cursor-pointer duration-100
}

.profile-a {
  @apply w-64 profile shadow-xl pt-8 md:hidden
}

.profile-b {
  @apply hidden md:block w-72 profile rounded-md shadow-xl absolute right-[70px] md2:right-[140px]
    lg:right-[220px] xl:right-[400px] top-36
}

.profile {
  border-radius: 0% 100% 0% 100% / 0% 19% 0% 23%
}

.intro {
  @apply w-[350px] leading-[50px] text-center text-H6 font-light mt-36 md0:mt-24 md:w-[550px]
    md:text-justify md:mt-0 md:-ml-[180px] md2:-ml-[430px] lg:-ml-[330px] xl:-ml-[455px] md:text-H4
}

.historial {
  @apply flex flex-col text-center items-center px-10 pt-20 space-y-10 md0:px-20 md:px-40 md:pt-36
    xl:px-[395px]
}

.historial-title {
  @apply text-H6 font-bold tracking-normal text-electricBlue md:text-H5 lg:text-H4
}

.habilidades-title {
  @apply text-H6 font-bold tracking-normal text-electricBlue md:text-H5 lg:text-H4
}

.skills-icons {
  @apply flex flex-col items-center space-y-10 text-subtitle text-center md:flex-row md:space-x-10
    md:space-y-0
}

.proyects-title {
  @apply text-H6 font-bold tracking-normal text-electricBlue md:text-H5 lg:text-H4
}

.card {
  @apply w-64 h-[400px] pb-4 flex flex-col justify-between rounded-lg overflow-hidden shadow-xl
    hover:scale-110 duration-200 hover:cursor-pointer
}

.label {
  @apply border-[1px] px-2 mt-4 border-electricBlue rounded text-body font-semibold text-electricBlue
}

.line {
  width: 200%;
  margin-left: -100px;
  background: linear-gradient(45deg,#9df4fa, #84eff5, #24a5bf);
  background-size: 400%;
  transform: skewY(-3deg);
  animation: animate 5s infinite alternate;
  z-index: 0;

  @apply absolute bottom-40 h-[600px]

}

.carousel {
  @apply px-12 sm:px-20 text-xs font-light text-center overflow-hidden h-[500px] lg:hidden
}

.carousel-card {
  @apply z-20 w-64 h-[400px] pb-4 flex flex-col justify-between rounded-lg overflow-hidden text-center shadow-lg
}

/* .line {
  width: 200%;
  margin-left: -100px;
  background: linear-gradient(45deg,#9df4fa, #84eff5, #24a5bf);
  background-size: 400%;
  transform: skewY(-3deg);
  animation: animate 5s infinite alternate;
  z-index: 0;

  @apply absolute bottom-36 h-[400px] lg:h-[600px] lg:bottom-40

} */

.carousel .owl-prev {
  background: #e1e3e6!important;
  color: #222 !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 25% !important;

  @apply text-2xl top-1/2 -left-8 -translate-y-1/2
   absolute z-20 opacity-40 hover:opacity-100 duration-200
}


.carousel .owl-next {
  background: #e1e3e6!important;
  color: #222 !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 25% !important;

  @apply text-2xl top-1/2 -right-8 -translate-y-1/2
   absolute z-20 opacity-40 hover:opacity-100 duration-200
}

.carousel .owl-item {
  padding: 40px 0px;
  z-index: 0
}

.contact {
  @apply flex flex-col text-center items-center space-y-10 pb-36 md0:px-64 md:mt-10 md:px-40 lg:space-y-14
    lg:mt-36 lg:text-H4
}

.contact-title{
  @apply text-H6 font-bold tracking-normal text-electricBlue md:text-H5 lg:text-H4
}

.contact-icons {
  @apply flex flex-col items-start justify-center space-y-3 lg:flex-row lg:space-y-0 lg:space-x-10 lg:items-center
}


